{% extends 'main.html' %}

{% block content %}
    
    {{ message }}

    {% if number > 10 %}
    <p>The number is greater than 10 </p>
    {% elif number == 10 %}
    <p>The number is equal to 10 </p>
    {% else %}
    <p>The number is smaller than 10</p>
    {% endif %}

    <h1>This is my main project </h1>
    <br>

    <ul>
        {% for project in projects %}
        <li>Title: <a href="{% url 'project' project.id %}">{{ project.title }}</a> ----------{{project.description}}</li>
        {% endfor %}
    </ul>

{% endblock content %}